.title {
  font-size: clamp(1.5rem, 0.925rem + 2.875vw, 4.375rem);
  font-size: clamp(1.875rem, 1.375rem + 2.5vw, 4.375rem);
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
}

.job-info span, .job-duration {
  font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
}