.web-header .navbar-nav .nav-link {
  border-radius: 30px;
  background-color: transparent !important;
  font-size: 16px !important;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.web-header .navbar-nav .nav-link:hover {
  font-weight: bold;
  border-radius: 30px;
}

.web-header .navbar-nav .nav-link.active {
  color: white !important;
  background: rgb(192, 57, 226) !important;
  background: hsl(300, 50%, 50%) !important;
  background: var(--purple-color) !important;
  /* 9900F0 */
  font-weight: bold;
  border-radius: 30px;
}

.px-0875 {
  padding-left: 0.875rem !important;
  padding-right: 0.875rem !important;
}

@media (min-width: 992px) {
  .width-40 {
    width: 60% !important;
  }

  .py-75 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .px-22 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

@media (min-width: 1440px) {
  .width-40 {
    width: 50% !important;
  }

  .py-75 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }

  .px-22 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media (min-width: 1500px) {
  .width-40 {
    width: 800px !important;
  }

  .py-75 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }

  .px-22 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.web-header .glass-1 {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.web-header .navbar.glass-2 {
  background: rgba(255, 255, 255, 0.91);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}
