.font-text{
  font-size: clamp(1rem, 0.3rem + 3.5vw, 4.5rem);
}

@media (min-width: 991px) {
  .font-text{
    font-size: clamp(1.25rem, -20.5338rem + 35.1351vw, 1.5rem);
  }
}

@media (min-width: 1440px) {
  .font-text{
    font-size: clamp(1.75rem, 0.25rem + 1.6667vw, 2rem);
  } 
}

.box-hover{
  transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.box-hover:hover{
  transform: translateY(-10px);
}