.html {
  color: #f27233;
}

.css {
  color: #4070F4;
}

.bootstrap {
  color: #8d40f1;
}

.sass {
  color: #d340f1;
}

.javascript {
  color: #f6d833;
}

.jquery {
  color: #40dbf8;
}

.ajax-json {
  color: #f84079;
}

.angular {
  color: #f63353;
}

.react {
  --tw-text-opacity: 1;
  color: rgb(20 158 202/var(--tw-text-opacity));
}

.typescript{
  color: rgb(0, 122, 204);
}

.node-js{
  color: rgb(33, 87, 50);
}

.mongo-db{
  color: #589636;
}

.git{
  color: #F1502F;
}

.redux{
  color: #764abc;
}

.postman{
  color: #ef5b25;
}

.npm {
  color: #CC3534;
}

.tailwindcss{
  color: #38bdf8;
}

.icon-font {
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}