.text-light-secondary{
  color: rgba(255, 255, 255, 0.5) !important;
}

.fw-500 {
  font-weight: 500 !important;
}
.home-left {

}
.space-y {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

._btn {
  /* padding: 1rem 2rem; */
  border-radius: 30px;
  background-color: #333 !important;
  border-width: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 20px !important;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 180px;
}

.home-page-name{
  font-size: 6.9vmin;
  /* font-size: 3.9vh; */
}
.home-page-description{
  font-size: 2.9vmin;
}

.fs{
  font-size: 4.8vmin;
}